<div class="container container--md container--padded">

	<ul>
		<li><a href="#tog1">TOGGLE 1</a></li>
		<li><a href="#tog2">TOGGLE 2</a></li>
		<li><a href="#tog3">TOGGLE 3</a></li>
		<li><a href="#tog4">TOGGLE 4</a></li>
		<li><a href="#tog5">TOGGLE 5</a></li>
		<li><a href="#tog6">TOGGLE 6</a></li>
		<li><a href="#tog7">TOGGLE 7</a></li>
		<li><a href="#tog8">TOGGLE 8</a></li>
	</ul>

	{{> toggle/toggle }}

	<div id="tog1" class="toggle" data-toggle='{"group":"a"}'>
		<div class="toggle__head">
			Group
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				<a href="#" class="btn btn--positive">Button</a>
			</div>
		</div>
	</div>

	<div id="tog2" class="toggle" data-toggle='{"group":"a"}'>
		<div class="toggle__head">
			GROUP A
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

	<div id="tog3" class="toggle" data-toggle='{"group":"a"}'>
		<div class="toggle__head">
			GROUP A
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

	<div id="tog5" class="toggle" data-toggle='{"group":"b"}'>
		<div class="toggle__head">
			GROUP B
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

	<div id="tog6" class="toggle" data-toggle='{"group":"b"}'>
		<div class="toggle__head">
			GROUP B
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

	<div id="tog7" class="toggle" data-toggle=''>
		<div class="toggle__head">
			GROUP NONE
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

	<div id="tog8" class="toggle" data-toggle=''>
		<div class="toggle__head">
			GROUP NONE
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

	<div id="tog4" class="toggle" data-toggle='{"group":"a"}'>
		<div class="toggle__head">
			GROUP A
			<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
		</div>
		<div class="toggle__main">
			<div class="toggle__body">
				...
			</div>
		</div>
	</div>

</div>
