
/*---
Accordion
@group			UIComponents/Accordion
@desc			...
@todo			Implement
@author			Michael Ord
@tags			javascript
@partial		toggle/toggle
*/
.toggle
{
	$parent						: &;

	&__head
	{
		position				: relative;
		cursor					: pointer;
	}

	&__body
	{
	}

	&.open
	{
	}

	&.close
	{
		#{$parent}__body
		{
			display				: none;
		}
	}
}

