
<div id="tog3" class="toggle" data-toggle='{"group":"a"}'>
	<div class="toggle__head">
		{{title}}
		<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
	</div>
	<div class="toggle__main">
		<div class="toggle__body">
			{{lorem 'p'}}
		</div>
	</div>
</div>
